/node_modules
/public/hot
/public/storage
/public/vendor
/storage/framework
/storage/logs
/storage/*.key
/bootstrap/cache/services.php
/bootstrap/cache/packages.php
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
